  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th></th>
        <th>
          <div class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= params[:outbox] == 'true' ? 'To' : 'From' %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <small><%= link_to "All", user_messages_path(current_user, outbox: params[:outbox]), class: 'dropdown-item' %></small>
              <% @contacts.each do |contact| %>
                <% if params[:outbox] %>
                  <small><%= link_to "#{contact.name} [#{contact.email}]", user_messages_path(current_user, outbox: params[:outbox], filters: { recipient_id: contact.id }), class: 'dropdown-item' %></small>
                <% else %>
                  <small><%= link_to "#{contact.name} [#{contact.email}]", user_messages_path(current_user, filters: { sender_id: contact.id }), class: 'dropdown-item' %></small>
                <% end %>
              <% end %>
            </div>
          </div>
        </th>
        <th>Message</th>
        <th>Date</th>

        <th></th>
      </tr>
    </thead>
    <tbody class="table-clickable">
      <% @messages.each do |message| %>
        <tr data-link=<%= params[:outbox] == 'true' ? user_message_path(message.sender, message) : user_message_path(message.recipient, message) %>>
          <td scope="row">
            <i class='fa fa-<%= message_status_icon(message.is_read?) %>'></i>
          </td>
          <td><small><%= params[:outbox] == 'true' ? "#{message.recipient.name} [#{message.recipient.email}]" : "#{message.sender.name} [#{message.sender.email}]" %></small></td>
          <td>
            <small><b><%= message.topic %></b></small><br>
            <small><%= render_text_preview(message.text) %></small>
          </td>
          <td><small><%= message.created_at.to_date %></small></td>
          <td>
            <%= link_to user_message_path(message.recipient, message), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class='fa fa-trash'></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<div class="row justify-content-center">
  <%= will_paginate @messages %>
</div>
