<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to 'Messenger', root_path, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <% if current_user %>
        <li class="nav-item <%= active_nav?('New message') %>">
          <%= link_to new_user_message_path(current_user), class: 'nav-link' do %>
            <i class='fa fa-send'></i> New message
          <% end %>
        </li>
        <span class='nav-link'>|</span>
        <li class="nav-item <%= active_nav?('Inbox') %>">
          <%= link_to user_messages_path(current_user), class: 'nav-link' do %>
            <i class='fa fa-inbox'></i> Inbox <span class="badge badge-primary"><%= inbox_count(current_user) %></span>
          <% end %>
        </li>
        <span class='nav-link'>|</span>
        <li class="nav-item <%= active_nav?('Outbox') %>">
          <%= link_to user_messages_path(current_user, outbox: true), class: 'nav-link' do %>
            <i class='fa fa-share'></i> Outbox
          <% end %>
        </li>
        <span class='nav-link'>|</span>
        <li class="nav-item <%= active_nav?('Drafts') %> ">
          <%= link_to user_drafts_path(current_user), class: 'nav-link' do %>
            <i class='fa fa-edit'></i> Drafts
          <% end %>
        </li>
      <% end %>
    </ul>
    <ul class='navbar-nav ml-auto'>
      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link"><%= current_user.email %></a>
        </li>
        <li class="nav-item">
          <%= link_to 'Log Out', logout_path, class: 'nav-link', method: :delete, data: { confirm: 'Are you sure to leave?' } %>
        </li>
      <% else %>
        <li class="nav-item <%= active_nav?('Register') %>">
          <%= link_to 'Register', new_user_path, class: 'nav-link' %>
        </li>
        <span class='nav-link'>|</span>
        <li class="nav-item <%= active_nav?('Login') %> ">
          <%= link_to 'Log In', login_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
