<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>Recipients</th>
      <th>Message</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="table-clickable">
    <% @drafts.each do |draft| %>
      <tr data-link="<%= new_user_message_path(current_user, draft_id: draft.id) %>">
        <td><small><%= draft.recipient_email %></small></td>
        <td>
          <small><b><%= draft.topic %></b></small><br>
          <small><%= render_text_preview(draft.text) %></small>
        </td>
        <td>
          <%= link_to user_draft_path(draft.user, draft), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class='fa fa-trash'></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row justify-content-center">
  <%= will_paginate @drafts %>
</div>
